<div class="row" ng-controller="TaskCtrl">
  <div class="span3">
    <div class="well" style="max-width: 340px; padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Priority</li>
        <li ng-class="{'active': query.priority == ''}"><a ng-init="query.priority = ''" ng-click="query.priority = ''; $event.preventDefault()" href="#" class="priority">All</a></li>
        <li ng-class="{'active': query.priority == 'high'}"><a ng-click="query.priority = 'high'; $event.preventDefault()" href="#" class="priority">high</a></li>
        <li ng-class="{'active': query.priority == 'medium'}"><a ng-model="query.priority" ng-click="query.priority = 'medium'; $event.preventDefault()" href="#" class="priority">medium</a></li>
        <li ng-class="{'active': query.priority == 'low'}"><a ng-click="query.priority = 'low'; $event.preventDefault()" href="#" class="priority">low</a></li>
      </ul>
    </div>

  </div>
  <div class="span9">

    <div class="well">
      <div class="input-append">
        <form name="form" novalidate>
          <select ng-init="task.priority = 'high'" ng-model="task.priority" class="span2">
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
          </select>
          <input  name="name" ng-model="task.name" required ng-minlength="3" id="appendedInputButton" type="text" class="span6" placeholder="Add new task here">
          <button ng-click="add(task); task.name = '';" ng-disabled="form.$invalid" class="btn btn-primary js-add" type="button">Add</button>
        </form>
      </div>
      <div ng-show="form.name.$dirty && form.name.$invalid && form.name.$error.minlength" class="alert alert-error">
        Task name should be at least 3 characters long.
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="span1">#</th>
          <th class="js-task-counter">{{filtered.length | pluralize:'task'}}</th>
          <th class="span1"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in filtered = (tasks | filter:query)" class="task">
          <td>{{$index + 1}}</td>
          <td>
            {{task.name}}
            <span class="priority label">{{task.priority}}</span>
          </td>
          <td>
            <button ng-click="remove($index, task)" class="btn btn-success js-done">Done</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
